<table class="table table-striped">
  <thead>
    <tr>
      <th>URL / QDN</th>
      <th>Title</th>
      <th>Locale</th>
      <th style="min-width: 120px;">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @scrapes.each do |scrape| %>
      <tr>
        <td class="col-md-1"><%= scrape.url.gsub("!",".").gsub("_","/").gsub("%","-").gsub("xSECx","ssl ") %></td>
        <td><%= scrape.title %></td>
        <td><%= scrape.locale %></td>
        <td><%= link_to 'Show', scrape, class: "btn btn-xs btn-primary" %> <%= link_to 'Destroy', scrape, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scrape', new_scrape_path %>
